.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
p{
    
    color: black;
    margin: 20px;
    background-color: whitesmoke;
    font-family: sans-serif;

}
.card{
    margin-left: 25px;
    align-items: center;
}
.card-img-top{
    border-radius:10px solid black;
}
.Notes{
    border-radius:important;
    border-style:1px solid black;
    border-color: blueviolet;
}
.social a{
    padding: 20px;
    font-size:1.1rem;
  }
  .social{
    display: flex;
    flex-direction: row;
    justify-content:center;
	color:rgb(218, 19, 19);
    align-items: center;
    box-shadow: 2px 2px 30px rgba(235, 5, 5, 0.1);
  }
  .social a:hover{
    color:aqua;
    transition: all ease 0.3s;
  }

  
  .body {
    background-color: #3ac6e9;
}

/*Login css*/
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #36c9e3;
  }
  
  a{
    text-decoration: none;
  }
 
  .login{
    background-color: #3ac6e9;
  }